:root {
  --ion-color-primary: rgb(106, 27, 154);
  --ion-color-primary-rgb: 106, 27, 154;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(92, 23, 135);
  --ion-color-primary-tint: rgb(123, 45, 171);
  --ion-color-success: rgb(32, 181, 40);
}